@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="col d-flex justify-content-center align-items-center">
    <h1 class="title_add">Gestionar cuenta</h1>
</div>

<div>
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
