@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/manage.css" asp-append-version="true" />

<div class="container-store">
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center">
            <section>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <h1 class="title_add">Gestionar cuenta</h1>
                    </div>
                </div>
               
            </section>
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-8">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
