@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<script>
    window.onload = function () {
        document.getElementsByName("SearchString")[0].value = '';
        document.getElementsByName("SearchProvince")[0].value = '';
        document.getElementsByName("SearchCanton")[0].value = '';
        document.getElementsByName("SearchCategory")[0].value = '';
    };
</script>

<div class="container container-index index align-items-center">
    <div class="row">
        <form method="get" asp-page="/Records/Index">
            <div class=" buscar-form">
                <div class="col">
                    <div class="form-group">
                        <label class="searchString" for="SearchString">Nombre del producto</label>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-10">
                                <div class="input-group mb-3 loupe-text">
                                    <input type="text" name="SearchString" id="SearchString" value="@Model.SearchString" class="form-control" oninput="toggleSearchButton()" />
                                    <input class=" loupe-button btn btn-light" id="searchButton" type="submit" value="Buscar">
                                </div>
                            </div>
                            <div class="col-2">
                                <input type="button" value="Opciones avanzadas" class="advanced_search btn btn-primary" data-bs-toggle="collapse" data-bs-target="#advancedSearch" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="advancedSearch" class="collapse">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group_advanced">
                                <label for="Province">Provincia</label>
                                <select id="Province" asp-for="SearchProvince" asp-items="Model.Provinces" class="form-control_advanced form-control">
                                    <option value="">Todas</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group_advanced">
                                <label for="Canton">Cantón</label>
                                <select id="Canton" name="SearchCanton" asp-items="Model.Cantons" class="form-control_advanced form-control">
                                    <option value="">Todos</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group_advanced">
                                <label for="Category">Categoría</label>
                                <select id="Category" asp-for="SearchCategory" asp-items="Model.Categories" class="form-control_advanced form-control">
                                    <option value="">Todas</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        toggleSearchButton();
    });

    function toggleSearchButton() {
        const searchStringInput = document.getElementById("SearchString");
        const searchButton = document.getElementById("searchButton");

        if (searchStringInput.value.trim() !== "") {
            searchButton.disabled = false;
        } else {
            searchButton.disabled = true;
        }
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var provinceDropdown = document.getElementById("Province");
        var cantonDropdown = document.getElementById("Canton");

        var cantonsByProvince = {
            "Alajuela": ["Alajuela", "Atenas", "Grecia", "Guatuso", "Los Chiles", "Naranjo", "Orotina", "Palmares", "Poás", "Rio Cuarto", "San Carlos", "San Mateo", "San Ramón", "Sarchí", "Upala", "Zarcero"],
            "Cartago": ["Alvarado", "Cartago", "El Guarco", "Jiménez", "La Unión", "Oreamuno", "Paraíso", "Turrialba"],
            "Guanacaste": ["Abangares", "Bagaces", "Carrillo", "Cañas", "Hojancha", "La Cruz", "Liberia", "Nandayure", "Nicoya", "Santa Cruz", "Tilarán"],
            "Heredia": ["Barva", "Belén", "Flores", "Heredia", "San Isidro", "San Pablo", "San Rafael", "Santa Bárbara", "Santo Domingo", "Sarapiquí"],
            "Limón": ["Guácimo", "Limón", "Matina", "Pococí", "Siquirres", "Talamanca"],
            "Puntarenas": ["Buenos Aires", "Corredores", "Coto Brus", "Esparza", "Garabito", "Golfito", "Monte Verde", "Montes de Oro", "Osa", "Parrita", "Puerto Jiménez", "Puntarenas", "Quepos"],
            "San José": ["Acosta", "Alajuelita", "Aserrí", "Curridabat", "Desamparados", "Dota", "Escazú", "Goicoechea", "León Cortés", "Mora", "Moravia", "Montes de Oca", "Pérez Zeledón", "Puriscal", "San José", "Santa Ana", "Tarrazú", "Tibás", "Turrubares", "Vásquez de Coronado"]
        };

        function actualizarDropdownCantones() {
            var selectedProvince = provinceDropdown.value;
            cantonDropdown.innerHTML = '';

            var defaultOption = document.createElement("option");
            defaultOption.value = "";
            defaultOption.text = "Todos";
            cantonDropdown.appendChild(defaultOption);

            if (selectedProvince && cantonsByProvince[selectedProvince]) {
                cantonsByProvince[selectedProvince].forEach(function (canton) {
                    var option = document.createElement("option");
                    option.value = canton;
                    option.text = canton;
                    cantonDropdown.appendChild(option);
                });
            }
        }

        provinceDropdown.addEventListener("change", actualizarDropdownCantones);

        actualizarDropdownCantones();
    });
</script>