@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container container-index index align-items-center">
    <div class="row">
        <form method="get" asp-page="/Records/Index" onsubmit="return validateSearchForm()">
            <div class="col buscar-form">
                <div class="form-group">
                    <label class="searchString" for="SearchString">Nombre del producto</label>
                    <input type="text" name="SearchString" id="SearchString" value="@Model.SearchString" class="form-control" />
                </div>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <div class="form-group">
                    <div>
                        <input class="search_button btn btn-primary" type="submit" value="Buscar" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>