body {
    background-color: #0A3143;
}

h1 {
    padding: 50px;
    color: #FFF;
    font-family: Belleza;
    font-size: 134px;
    font-style: normal;
    text-decoration-line: underline;
}

.register {
    background-color: #0A3143;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.register_submit {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #276E90;
    border-radius: 5px;
    box-shadow: #296B8B 0px 4px 0px 0px;
    padding: 15px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 200px;
    color: #fff;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
    margin: 20px;
}

    .register_submit::before {
        content: "";
        background-color: #338CB7;
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 700ms ease-in-out;
        display: inline-block;
    }

    .register_submit:hover::before {
        width: 100%;
    }

.register_form {
    max-width: 342px;
}

.login_form {
    max-width: 350px;
    width: 350px;
}

.out_button {
    margin: 30px;
    color: white;
    font-size: 50px;
}

    .out_button:focus, .out_button:hover {
        color: #d0d0d0;
    }
