html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    footer {
        position: relative;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
    background-color: #f1ece7;
}

.navbar {
    padding: 4mm;
    background-color: #114358;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 90px;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.nav-link, .navbar-brand {
    color: #FFF !important;
}

.nav-link {
    font-family: 'Roboto' !important;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 300 !important;
}

.navbar-brand {
    font-family: 'Belleza' !important;
    font-size: 45px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
    text-decoration-line: underline !important;
    font-weight: 300 !important;
}

.navbar_button {
    font-size: 18px;
    color: #e1e1e1;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

    .navbar_button:focus, .navbar_button:hover {
        color: #fff;
    }

        .navbar_button:focus:after, .navbar_button:hover:after {
            width: 100%;
            left: 0%;
        }

.navbar_button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}
    .navbar_button:after {
        content: "";
        pointer-events: none;
        bottom: -2px;
        left: 50%;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: #fff;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: width, left;
    }

.container-store {
    padding: 20px;
}

.container-index {
    padding: 13%;
    width: 500px;
}

.container-search {
    padding: 30px;
    width: 500px;
}

.buscar-form {
    border-radius: 20px;
    border: 3px solid #000;
    background: #276E90;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    width: 100%;
    min-height: 130px;
}

.search_button {
    border-radius: 25px !important;
    border: 6px solid #276E90 !important;
    background: #0A3143 !important;
    width: 200px !important;
    height: 70px !important;
}


.form-group {
    margin: 20px;
}

.form-group-store {
    margin: 20px;
    width: 300px;
}

.searchString {
    color: #fff;
}

.loupe-button {
    color: rgb(18, 18, 18) !important;
    border: 1px solid #aaaaaa !important;
    background-color: gainsboro;
}

.card {
    position: relative !important;
    width: 87% !important;
    height: 300px !important;
    border-radius: 14px !important;
    z-index: 1111;
    overflow: hidden !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 5px;
}


.bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 99%;
    height: 96%;
    z-index: 2;
    background: rgba(255, 255, 255, .95);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
}

.blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 610px;
    height: 70%;
    border-radius: 50%;
    background-color: #276E90;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
    0% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }

    25% {
        transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }

    50% {
        transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }

    75% {
        transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }

    100% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
}

.details-container{
    margin: 20px;
}

.info_detail {
    margin: 5px;
}

th{
    text-align: left !important;
}

th p, .fecha {
    text-align: left !important;
}

td {
    text-align: left !important;
}

.precio {
    text-align: right !important;
}

.table-details th:nth-child(1), .table-details td:nth-child(1) {
    width: 15%;
    padding: 10px;
}

.table-details th:nth-child(2), .table-details td:nth-child(2) {
    width: 15%;
    padding: 10px;
}

.table-details th:nth-child(3), .table-details td:nth-child(3) {
    width: 20%;
    padding: 10px;
}

.table-details th:nth-child(4), .table-details td:nth-child(4) {
    width: 50%;
    padding: 10px;
}

.table th:nth-child(1), .table td:nth-child(1) {
    width: 30%;
    padding: 10px;
}

.table th:nth-child(2), .table td:nth-child(2) {
    width: 10%;
    padding: 10px;
}

.table th:nth-child(3), .table td:nth-child(3) {
    width: 15%;
    padding: 10px;
}

.table th:nth-child(4), .table td:nth-child(4) {
    width: 15%;
    padding: 10px;
}

.table th:nth-child(5), .table td:nth-child(5) {
    width: 15%;
    padding: 10px;
}

.table th:nth-child(5), .table td:nth-child(5) {
    width: 15%;
    padding: 10px;
}

table {
    width: 100%;
}

.election {
    color: #000 !important;
}

.election:hover {
    color: #7d7d7d !important;
}

.advanced_search {
    padding: 11px !important;
    
    display: flex !important;
    width: 100%;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 24px !important;
    background: #143A4D !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30) !important;
}

.form-control_advanced {
    border-radius: 20px !important;
    border: 1px solid #3e3e3e !important;
}

.form-group_advanced {
    margin: 0px 20px 20px 20px;
}

.loupe-text{
    margin: 16px 0px 0px 0px !important;
}

.ordering-text {
    color: black !important;
}

.ordering-text:hover {
    color: #7d7d7d !important;
}

.form-control-add {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.40);
    box-shadow: 0px 4px 4px 0px #000;
    backdrop-filter: blur(2px);
}

.form-control-add:focus {
    box-shadow: 2px 4px 4px 2px #000 !important;
}

.add_product {
    padding: 40px !important;
}

.add_confirm {
    border-radius: 25px !important;
    border: 6px solid #276E90 !important;
    background: #0A3143 !important;
    width: 140px !important;
    height: 70px !important;
    margin: 20px;
}

.add_cancel {
    border-radius: 25px !important;
    border: 6px solid #d0d0d0 !important;
    background: #dcdcdc !important;
    width: 140px !important;
    height: 70px !important;
    color: #000 !important;
    margin: 20px;
}

.title_add, .title_add-report {
    font-weight: 800;
    font-family: Roboto;
    line-height: 24px;
}

.map {
    width: 1000px;
    height: 500px;
    box-shadow: 5px 5px 5px #888;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

.autocomplete-input.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.text-danger-map {
    margin-left: 10% !important;
}

.title_add-report {
    margin: 25px;
}

.marker-info {
    display: none;
}