@page
@model LoCoMPro_LV.Pages.Records.CreateModel
@using LoCoMPro_LV.Models
@using Microsoft.AspNetCore.Authorization
@{
    ViewData["Title"] = "Crear Registro";
}
@attribute [Authorize]
<div class="add_product">
    <h1 class="title_add">Agregar Producto</h1>
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input asp-for="Record.NameGenerator" class="form-control form-control-add" value="@User.Identity.Name" readonly hidden />
                    <span asp-validation-for="Record.NameGenerator" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Record.NameProduct">Producto</label>
                    <input asp-for="Record.NameProduct" id="Products" type="text" class="form-control form-control-add" aria-required="true" placeholder="Producto" />
                    <span asp-validation-for="Record.NameProduct" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Record.Price"></label>
                    <input asp-for="Record.Price" id="precioInput" class="form-control form-control-add" placeholder="Precio" onblur="asignarPrecioARecord()" />
                    <span asp-validation-for="Record.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelectCategory">Categoría</label>
                    <select id="Category" asp-for="SelectCategory" asp-items="Model.Categories" class="form-control form-control-add" aria-required="true" placeholder="Categoría">
                        <option value=""> Categoría </option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="ImageFiles">Seleccionar Imágenes</label>
                    <input type="file" asp-for="ImageFiles" class="form-control-file" multiple id="fileInput" onchange="previewImages(event)" />
                    <span asp-validation-for="ImageFiles" class="text-danger"></span>
                    <div id="imagePreviewContainer"></div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Record.Description" class="control-label"></label>
                            <textarea asp-for="Record.Description" class="form-control form-control-add form-control form-control-add-lg" placeholder=" Añade una descripción" rows="8"></textarea>
                            <span asp-validation-for="Record.Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form method="post">
            <div class="row">
                <div class="col d-flex justify-content-start align-items-center">
                    <input type="submit" value="Confirmar&#10;Producto" class="add_confirm btn btn-primary btn-sm" />
                </div>
                <div class="col d-flex justify-content-end align-items-center">
                    <a asp-page="/Index" class="add_cancel btn btn-danger d-flex justify-content-center align-items-center">Cancelar</a>
                </div>
            </div>
        </form>
    </form>
</div>

@section scripts{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>

        type = "text/javascript" >
            $(function () {
                var data = @Html.Raw(Json.Serialize(Model.Product));
                $("#Products").autocomplete({
                    source: data,
                    minLength: 1
                });
            });
    </script>

    <script>
        function handleImageDelete(index) {
            var container = document.getElementById("imagePreviewContainer");
            var images = container.getElementsByClassName("img-preview-container");

            container.removeChild(images[index]);

            var input = document.getElementById("fileInput");
            var files = input.files;
            var newFiles = Array.from(files);
            newFiles.splice(index, 1);
            input.files = newFiles;
        }

        function previewImages(event) {
            var input = event.target;
            var container = document.getElementById("imagePreviewContainer");

            //container.innerHTML = "";

            var files = input.files;

            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                if (file.type.startsWith("image/")) {
                    var reader = new FileReader();

                    reader.onload = (function (file, index) {
                        return function (e) {
                            // Crear contenedor para la imagen y el botón "x"
                            var containerItem = document.createElement("div");
                            containerItem.className = "img-preview-container";

                            var img = document.createElement("img");
                            img.src = e.target.result;
                            img.className = "img-preview";
                            containerItem.appendChild(img);

                            var deleteButton = document.createElement("button");
                            deleteButton.innerHTML = "x";
                            deleteButton.className = "delete-button";
                            deleteButton.onclick = function () {
                                handleImageDelete(index);
                            };
                            containerItem.appendChild(deleteButton);
                            container.appendChild(containerItem);
                        };
                    })(file, i);
                    reader.readAsDataURL(file);
                }
            }
        }
    </script>

}