@page
@model LoCoMPro_LV.Pages.Records.CreateModel
@{
    ViewData["Title"] = "Crear Registro";
}

<h1>Crear Registro</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Record.NameGenerator"></label>
        <input asp-for="Record.NameGenerator" class="form-control" />
        <span asp-validation-for="Record.NameGenerator"></span>
    </div>
    <div class="form-group">
        <label asp-for="Record.Description"></label>
        <input asp-for="Record.Description" class="form-control" />
        <span asp-validation-for="Record.Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="Record.Price"></label>
        <input asp-for="Record.Price" class="form-control" />
        <span asp-validation-for="Record.Price"></span>
    </div>
    <div class="form-group">
        <label asp-for="Record.NameStore"></label>
        <input asp-for="Record.NameStore" class="form-control" />
        <span asp-validation-for="Record.NameStore"></span>
    </div>
    <div class="form-group">
        <label asp-for="Record.NameProvince"></label>
        <input asp-for="Record.NameProvince" class="form-control" />
        <span asp-validation-for="Record.NameProvince"></span>
    </div>
    <div class="form-group">
        <label asp-for="Record.NameCanton"></label>
        <input asp-for="Record.NameCanton" class="form-control" />
        <span asp-validation-for="Record.NameCanton"></span>
    </div>
    <div class="form-group">
        <label asp-for="Record.NameProduct"></label>
        <input asp-for="Record.NameProduct" class="form-control" />
        <span asp-validation-for="Record.NameProduct"></span>
    </div>
    <!-- Agrega campos adicionales del formulario aquí -->

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

<a asp-page="./Index">Volver a la lista</a>

