@page
@model LoCoMPro_LV.Pages.Records.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Record</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Record.NameGenerator" />
            <input type="hidden" asp-for="Record.RecordDate" />
            <div class="form-group">
                <label asp-for="Record.Description" class="control-label"></label>
                <input asp-for="Record.Description" class="form-control" />
                <span asp-validation-for="Record.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.Price" class="control-label"></label>
                <input asp-for="Record.Price" class="form-control" />
                <span asp-validation-for="Record.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.NameStore" class="control-label"></label>
                <select asp-for="Record.NameStore" class="form-control" asp-items="ViewBag.NameStore"></select>
                <span asp-validation-for="Record.NameStore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.NameProvince" class="control-label"></label>
                <select asp-for="Record.NameProvince" class="form-control" asp-items="ViewBag.NameProvince"></select>
                <span asp-validation-for="Record.NameProvince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.NameCanton" class="control-label"></label>
                <select asp-for="Record.NameCanton" class="form-control" asp-items="ViewBag.NameCanton"></select>
                <span asp-validation-for="Record.NameCanton" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.NameProduct" class="control-label"></label>
                <select asp-for="Record.NameProduct" class="form-control" asp-items="ViewBag.NameProduct"></select>
                <span asp-validation-for="Record.NameProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
